body{
    margin:0;
    background:#101820;
    color:white;
    font-family:Arial,sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

h1{
    font-size:3rem;
    color:#4CAF50;
}

p{
    font-size:1.2rem;
}
